<ion-view view-title="设置" hide-nav-bar="true">
    <ion-header-bar class="bar-assertive">
        <p class="title">设置</p>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-avatar-left item-icon-right">
                <img src="images/lufei.jpg">
                <p>发现</p>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-avatar-left item-icon-right">
                <img src="images/luobing.jpg">
                <p>兴趣部落</p>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
            <div class="item item-avatar-left item-icon-right">
                <img src="images/flq.jpg">
                <p>大家在看什么？</p>
                <i class="icon ion-ios-arrow-right"></i>
        </div>
            <div class="item item-avatar-left item-icon-right">
                <img src="images/qiaoba.jpg">
                <p>猜你喜欢</p>
                <i class="icon ion-ios-arrow-right"></i>
            </div>

            <div class="item item-toggle">
                消息推送:
                <label class="toggle toggle-balanced">
                    <input type="checkbox" style="outline: none">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item range range-positive">
                亮度：<i class="icon ion-android-sunny"></i>
                <input type="range" name="volumn" min="0" max="100" value="50"/>
                <i class="icon ion-android-sunny positive"></i>
            </div>
            <div class="item range range-positive">
                音量：<i class="icon ion-android-volume-mute"></i>
                <input type="range" name="volumn" min="0" max="100" value="30"/>
                <i class="icon ion-android-volume-up"></i>
            </div>
        </div>
    </ion-content>
</ion-view>