<ion-view>
    <ion-header-bar class="bar bar-assertive">
        <ion-button class="button button-icon ion-ios-arrow-back" ui-sref="home"></ion-button>
        <p class="title">欢迎登陆</p>
    </ion-header-bar>
    <ion-content>
                <label class="item item-input">
                    <span class="item-input">账号：</span>
                    <input type="text" placeholder="手机号/邮箱/账号">
                </label>
                <label class="item item-input">
                    <span class="item-input">密码：</span>
                    <input type="password" placeholder="密码">
                </label>
                <button class="button button-assertive button-full">登录</button>
                <button class="button button-assertive button-full">注册</button>
    </ion-content>
</ion-view>