<ion-view view-title="周边产品" hide-nav-bar="true">
    <ion-header-bar class="bar bar-assertive">
        <ion-button class="button button-icon ion-ios-arrow-back" ui-sref="rim"></ion-button>
        <p class="title">详情</p>
    </ion-header-bar>
    <ion-content class="has-header">
        <img style="cursor: pointer" src="images/shop_03.jpg">
        <img style="cursor: pointer" src="images/shop_05.jpg">
        <br><br>
        <img style="cursor: pointer" src="images/shop_07.jpg">
        <img style="cursor: pointer" src="images/shop_09.jpg">
    </ion-content>
</ion-view>