@charset "utf-8";
/* CSS Document */
.main{height:1970px;}
.main_top{width:1140px; height:833px; margin:0 auto;  position:relative;}
.main_top .top_left{width:825px; margin-left:15px; float:left;}
.top_left h3{font-family:arial; font-size:18px; color:#010101; line-height:26px; height:26px; margin-top:40px;}
.top_left p{font-family:arial; font-size:14px; color:#a0a0a0; line-height:43px; height:43px;}
.top_left span{color:#ec6350;}
.top_left img{width:813px; height:417px;border:6px solid #ed5844;}
.top_left .dw{width:88px; height:41px; position:absolute; bottom:301px; right:306px;}
.top_left .camera{width:42px; height:41px; background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:-243px -122px; float:left;}
.top_left .day{width:43px; height:40px; background-image:url(../images/s-icons.png); background-repeat:no-repeat; background-position:-288px -123px; margin-top:1px; float:right;}
.top_left h6{font-family:arial; font-size:16px; color:#798184; line-height:33px; height:33px; font-weight:normal; margin-top:5px;}
.top_left .chang{line-height:23px; font-size:13px; color:#999999;}
.main_top .top_right{width:269px; height:833px; float:right;}
.top_right h4{font-family:arial; font-size:15px; color:#000201; line-height:68px; height:68px; margin-top:17px;}
.top_right input{width:235px; height:42px; border:1px solid #dbdbdb; padding-left:18px; position:relative;}
.top_right .lens{width:21px; height:19px; background-image:url(../images/search.png); position:absolute; top:98px; right:20px;}
.top_right dl{margin-top:25px;}
.top_right dt{font-family:arial; font-size:15px; color:#000201; font-weight:bold; margin-bottom:15px;}
.top_right dd{font-family:arial; font-size:13px; color:#a39f9e; line-height:23px; height:23px; padding-left:23px; background-image:url(../images/b_arrow.png); background-repeat:no-repeat; background-position: 0px 8px;}
.top_right h5{font-family:arial; font-size:15px; color:#000201; line-height:50px; height:50px; margin-bottom:5px;}
.top_right .picbox{width:240px; height:73px; margin:0 0 8px 3px;}
.top_right .pic1{width:114px; height:73px;float:left;}
.top_right .pic1 img{width:114px; height:73px;}
.top_right .pic2{width:114px; height:73px;float:right;}
.top_right .pic2 img{width:114px; height:73px;}
.main .main_mid{width:1140px; height:553px; margin:0 auto;}
.main .main_mid .formbox{height:510px;}
.main_mid h3{font-family:arial; font-size:25px; font-weight:normal; color:#272926; line-height:39px; height:39px; margin-left:17px;}
.main_mid .name{font-family:arial; font-size:18px; color:#232323; line-height:24px; height:24px; margin-left:23px; margin-top:12px;}
.main_mid input{width:808px; height:38px; background-color:#eeeeee; margin-left:23px;}
.main_mid .web{padding-left:16px; width:792px; font-family:arial; font-size:14px; color:#4b4b4b;}
.main_mid h4{font-family:arial; font-size:18px; color:#232323; font-weight:normal; margin-left:23px; line-height:24px; height:24px; margin-top:10px;}
.main_mid textarea{width:808px; height:150px; background-color:#eeeeee; margin-left:23px; border:none;}
.main_mid .send{width:145px; height:51px; background-color:#ed5844; border-radius:4px; box-shadow:0 0 6px rgba(0,0,0,.5) inset; margin-top:16px; font-family:arial; font-size:15px; color:#fffeff; font-weight:bold;}
.main_bot{width:1140px; height:585px; margin:0 auto; margin-bottom:40px;}
.main_bot h3{font-family:arial; font-size:25px; font-weight:normal; color:#272926; line-height:62px; height:62px; margin-left:17px;}
.main_bot .tom{width:824px; height:199px; border:1px solid #d4d4d4; margin-left:16px; margin-bottom:42px;}
.main_bot img{width:158px; height:158px; margin:17px 0 0 15px;}
.main_bot .pic{width:220px; height:199px; float:left;}
.main_bot .text{width:580px; height:175px; float:right; }
.main_bot .text_top{width:580px; height:116px; margin-top:15px;}
.main_bot .text_top h5{font-family:arial; font-size:12px; color:#4d4d4b; line-height:20px; height:20px;}
.main_bot .text_top p{font-family:arial; font-size:12px; line-height:23px; height:23px; color:#858585;}
.main_bot .text_bot{width:580px; height:44px;}
.main_bot .text_bot p{font-family:arial; font-size:12px; color:#c1c1c1; line-height:37px; height:37px; margin-top:7px; float:left;}
.main_bot .text_bot input{ float:right;width:99px; height:43px; background-color:#ed5748; border-radius:4px; box-shadow:0 0 6px rgba(0,0,0,.5) inset; font-family:arial; font-size:16px; font-weight:bold; color:#fff; margin-right:97px;}

