@charset "utf-8";
/* CSS Document */
.page1 .page1_top .mid{width:730px; height:454px; margin:12px 10px 0 10px; float:left;}
.page1 .page1_top .mid{ width: 730px; height: 454px; overflow: hidden; position: relative;}
.page1 .page1_top .mid ul { position: absolute; top: 0; left: 0;}
.page1 .page1_top .mid ul li { width: 730px; height: 454px; float: left; }
.page1 .page1_top .mid ol { position: absolute;right: 270px; bottom: 20px;}
.page1 .page1_top .mid ol li { height:30px; line-height:30px; width:30px; float: left; margin-right: 3px;cursor: pointer; background: #fcf2cf; border: 1px solid #f47500;color:#d94b01; border-radius:50%; font-family: arial; font-size: 20px;text-align:center }
.page1 .page1_top .mid .ac {font-weight: bold; color: #ffffff; background: #ffb442; transform:scale(1.1);}
.page1 .page1_top .mid .prevBtn,.nextBtn{position: absolute; width: 40px; height:40px; line-height:35px; font-size:40px;color: #fff; text-align: center;background: #333; opacity:.5; top: 50%; margin-top:-20px;}
.page1 .page1_top .mid .prevBtn { left: 10px; }
.page1 .page1_top .mid .nextBtn { right: 10px; }
.qcby img{width:200px; height: 60px; position: relative; top: -16px; right: 0px ; opacity: .5; border-radius: 5px;}
.qcby img:hover{opacity: 1}
.qgg{font-size: 18px; color: blue}
.qgg a{font-size: 20px; color: red}
.page1 .page1_top .right{width:250px; float:right; padding-top:12px;}
.page1 .page1_top .right .news{width:248px; height:163px; border:1px solid #e4e4e4;}
.page1 .page1_top .right .title{padding:0 15px; border-bottom:1px dashed #e8e8e7;}
.page1 .page1_top .right .title h2{font-size:16px; color:#666; font-weight:normal; line-height:32px; height:32px; float:left;}
.page1 .page1_top .right .title a{float:right;font-size:12px; color:#666; line-height:32px; height:32px;}
.page1 .page1_top .right .title a:hover{color:#c81623;}
.page1 .page1_top .right .news ul{padding:5px 15px 0 15px;}
.page1 .page1_top .right .news ul li a{font-size:12px; line-height:24px; height:24px;color:#666; font-family:'宋体'; display:block; width:218px; height:24px; white-space:nowrap; /*不换行*/text-overflow:ellipsis; overflow:hidden;}
.page1 .page1_top .right .news ul li:hover a{color:#c81623;}
.page1 .page1_top .right .news ul span{font-weight:bold;}
.page1 .page1_top .right .icon{height:208px; border:1px solid #e4e4e4; border-top:none; overflow:hidden;}
.page1 .page1_top .right .icon ul{width:252px;}
.page1 .page1_top .right .icon li{float:left; width:62px; height:70px; border-bottom:1px solid #e4e4e4; border-right:1px solid #e4e4e4; text-align:center; position:relative;}
.page1 .page1_top .right .icon li span{display:inline-block; font-size:12px; font-family:'宋体'; color:#666; line-height:30px; height:30px; margin-top:40px;}
.page1 .page1_top .right .icon li i{width:25px; height:25px; background:url(../images/icon1.png) no-repeat 0 0; position:absolute; left:18px; top:13px;}
.page1 .page1_top .right .icon li a:hover span{color:#c81623;}
.page1 .page1_top .right .icon li .er{background-position:0 -25px;}
.page1 .page1_top .right .icon li .san{background-position:0 -50px;}
.page1 .page1_top .right .icon li .si{background-position:0 -75px;}
.page1 .page1_top .right .icon li .wu{background-position:0 -100px;}
.page1 .page1_top .right .icon li .liu{background-position:0 -125px;}
.page1 .page1_top .right .icon li .qi{background-position:0 -150px;}
.page1 .page1_top .right .icon li .ba{background-position:0 -175px;}
.page1 .page1_top .right .icon li .jiu{background-position:0 -250px;}
.page1 .page1_top .right .icon li .shi{background-position:0 -200px;}
.page1 .page1_top .right .icon li .shiyi{background-position:0 -275px;}
.page1 .page1_top .right .icon li .shier{background-position:0 -225px;}
.page1 .page1_top .right .pic{width:250px; height:75px; overflow:hidden; margin-top:5px;}
.page1 .page1_bot{height:151px; margin-top:10px;}
.page1 .page1_bot .jrtj{float:left; width:210px; height:151px;background:url(../images/homebg.png) no-repeat -213px -136px;}
.page1 .page1_bot .box{width:249px; height:151px; float:left; margin-right:1px; position:relative;}
.page1 .page1_bot .box img{width:249px; height:151px;}
.page1 .page1_bot .box .text{position:absolute; top:12px; left:19px;}
.page1 .page1_bot .box .text h5{font-size:15px; color:#333; line-height:37px; height:37px;}
.page1 .page1_bot .box .text p{display:block;width:92px; font-size:14px; line-height:18px; height:18px; background:#f90c12; text-align:center; color:#fff;}
.page1 .page1_bot .box .text span{font-size:14px; line-height:24px; height:24px; color:#646464;}
.page1 .page1_bot .box2 .text p{background:#3BEC3E;}
.page1 .page1_bot .box3 .text p{background:#F50C3F;}
.page1 .page1_bot .box4 .text p{background:#0D52F3;}

@keyframes run{0%{right:846px; opacity:0} 100%{right:0px; opacity:1}}
.page2,.page3{width:1210px; margin:0 auto;}
.page2 .title{height:40px;}
.page2 .title h2{font-size:19px; line-height:40px; height:40px; color:#333; position:relative; float:left;}
.page2 .title h2 i{display:block; width:192px; height:18px; background:url(../images/homebg.png) no-repeat 0 -98px; position:absolute; top:10px; left:90px;}
.page2 .title p{float:right; font-size:13px; line-height:40px; height:40px; color:#666; margin-right:26px; position:relative;}
.page2 .title p i{display:block; width:17px; height:20px; background:url(../images/homebg.png) no-repeat -354px -3px; position:absolute; top:6px; right:-25px;}
.page2 .title p:hover{color:#c91724;}
.page2 .title p:hover i{background:url(../images/homebg.png) no-repeat -354px -27px;}
.page2 .con{height:231px; border:1px solid #ededed; border-top-color:#d1d1d1; position:relative;}
.page2 .con i{display:block; width:365px; height:5px; background:url(../images/homebg.png) no-repeat 0 -124px; position:absolute;top:-3px; right:0;}
.page2 .con:hover i{animation:run 1s;}
.page2 .con .box{width:201px; height:231px; float:left;}
.page2 .con .box .pic{width:201px; height:160px; }
.page2 .con .box .pic img{width:202px; height:160px;}
.page2 .con .text{text-align:center; border-right:1px solid #e6e6e6;}
.page2 .con .text p{font-size:13px; line-height:18px; color:#666;}
.page2 .con .text span{font-size:13px; line-height:31px; color:#b51d1a;}
.page2 .con .box .last{border-right:none;}
.page3{margin-bottom:20px;}
.page3 h2{font-size:14px; line-height:35px; height:35px; color:#333;}
.page3 .con{width:1208px; height:405px; border:1px solid #ededed;}
.page3 .con .left{width:402px; height:405px; border-right:1px solid #ededed;}
.page3 .con .left a{display:block; color:#333; background-color:#f7f7f7;}
.page3 .con .left{width:403px; float:left;}
.page3 .con .left .top{position:relative;}
.page3 .con .left .top .pic{width:403px; height:205px; overflow:hidden;}
.page3 .con .left h5{font-size:14px; line-height:40px; height:40px; text-align:center; border-bottom:1px dashed #e0e0e0; margin:0 20px;}
.page3 .con .left .top .text{position:absolute;top:59px; left:45px;}
.page3 .con .left .top .text h6{font-size:16px; line-height:38px; height:38px;}
.page3 .con .left .top .text p{font-size:12px; line-height:18px; height:18px;}
.page3 .con .left .top .text span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page3 .con .mid{float:left; width:228px; border-right:1px solid #e0e0e0;}
.page3 .con .mid a{display:block; color:#666;}
.page3 .con .mid h5{font-size:14px; line-height:40px; height:40px; text-align:center; border-bottom:1px dashed #e0e0e0; margin:0 20px;}
.page3 .con .mid .top{position:relative;}
.page3 .con .mid .top .pic{width:228px; height:205px;}
.page3 .con .mid .top img{width:228px; height:205px;}
.page3 .con .mid .top .text{position:absolute;top:20px; left:15px;}
.page3 .con .mid .top .text h6{font-size:16px; line-height:38px; height:38px; color:#000;}
.page3 .con .mid .top .text p{font-size:12px; line-height:18px; height:18px;}
.page3 .con .mid .top .text span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page3 .con .mid .bot{width:228px; height:158px; position:relative;}
.page3 .con .mid .bot img{width:228px; height:158px;}
.page3 .con .mid .bot .text{position:absolute;top:20px; left:15px;}
.page3 .con .mid .bot .text h6{font-size:16px; line-height:38px; height:38px; color:#000;}
.page3 .con .mid .bot .text p{font-size:12px; line-height:18px; height:18px;}
.page3 .con .mid .bot .text span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page3 .con .picbox{float:right; width:171px;}
.page3 .con .picbox .picbox_l{font-size:0; float:left; border-right:1px dashed #e0e0e0;margin:13px 0 8px 0;height:381px;}
.page3 .con .picbox ul{margin-top:-13px;}
.page3 .con .picbox .picbox_l li{width:74px; border-bottom:1px dashed #e0e0e0; margin-left:11px;}
.page3 .con .picbox .picbox_l li a{display:block; width:85px; margin-left:-11px; text-align:center;overflow:hidden;}
.page3 .con .picbox .picbox_r{border-right:none;}
.page3 .con .picbox .picbox_r li{margin-left:0;}
.page3 .con .picbox .picbox_r li a{margin-left:0;}
.page3 .con .left .bot{width:404px; height:157px; border-top:1px solid #e0e0e0; position:relative;}
.page3 .con .left .bot .s_box1{width:201px; float:left;}
.page3 .con .left .bot .s_box1{width:201px;border-right:1px solid #ededed;}
.page3 .con .left .bot .pic1{width:201px; height:158px;}
.page3 .con .left .bot .text1{position:absolute;top:0px; left:8px;}
.page3 .con .left .bot .text1 h6{font-size:16px; line-height:38px; height:38px;}
.page3 .con .left .bot .text1 p{font-size:12px; line-height:18px; height:18px;}
.page3 .con .left .bot .text1 span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page3 .con .left .bot .s_box2{width:201px; float:left;}
.page3 .con .left .bot .s_box2{width:201px;border-right:1px solid #ededed;}
.page3 .con .left .bot .pic2{width:201px; height:158px;}
.page3 .con .left .bot .text2{position:absolute;top:0px; left:210px;}
.page3 .con .left .bot .text2 h6{font-size:16px; line-height:38px; height:38px;}
.page3 .con .left .bot .text2 p{font-size:12px; line-height:18px; height:18px;}
.page3 .con .left .bot .text2 span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page4{width:1210px; height:125px; margin:0 auto;}
.page5{width:1210px; height:668px; margin:0 auto; margin-top:17px;}
.page5 .title{border-bottom:1px solid #c91724;}
.page5 .title h2{font-size:18px; line-height:34px; float:left;position:relative; padding-left:40px;}
.page5 .title h2 a{color:#333;}
.page5 .title h2 i{width:32px; height:28px; display:block; background:url(../images/product_home_1.0.0.png) no-repeat 0 -32px; position:absolute; top:0; left:0;}
.page5 .title h2:hover a{color:#c81623;}
.page5 .title h2:hover i{background:url(../images/product_home_1.0.0.png) no-repeat 0 3px; color:#fff;}
.page5 .title ul{float:right; border:1px solid #ededed; border-bottom:none;}
.page5 .title ul li{float:left; line-height:31px; height:31px;position:relative;border-top:3px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff;}
.page5 .title ul li a{ padding:0 15px; font-size:15px; font-family:'宋体'; color:#666;display:block;}
.page5 .title ul li:hover{border-color:#c81623; z-index:3; margin-top:-1px; padding-top:1px;}
.page5 .title ul li:hover a{background:#fff; height:32px;}
.page5 .title ul li:hover span{display:none;}
.page5 .title ul li span{width:1px; height:14px; background:#ccc; position:absolute; top:10px; right:-2px; z-index:2;}
.page5 .popop{display:none;}
.page5 .con{width:1210px; height:632px; border-bottom:1px solid #ededed; border-right:1px solid #ededed; position:absolute; display: block;}
.page5 .con_left{width:330px; float:left;}
.page5 .con_left .pic a{display:block; position:relative;}
.page5 .con_left .pic{width:100%; height:100%;}
.page5 .con_left .pic a:before{content:''; width:70px; height:345px;
background-image:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
background-image:-moz-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
background-image:-ms-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
background-image:-o-linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
background-image:linear-gradient(left,rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
position:absolute; top:0; left:-250px; transform:skewX(-20deg);}
.page5 .con_left .pic a:hover:before{left:500px; transition:all .8s;}
.page5 .con_left .six{width:330px; height:92px; background:rgba(255,255,255,0.2); margin-top:-226px;position:relative;z-index:2;}
.page5 .con_left .text{width:330px; height:128px; background:#f5f5f5;position:relative;z-index:2;}
.page5 .con_left .six ul{padding:0 5px 0 25px;}
.page5 .con_left .six li{float:left; width:100px; height:26px; padding:10px 0;}
.page5 .con_left .six li a{color:#666; font-size:14px; line-height:26px;display:block; padding-left:31px; position:relative;}
.page5 .con_left .six li:hover a{color:#c81623;}
.page5 .con_left .six li:nth-child(1) a i{width:26px; height:26px; background:url(../images/clothesicon.png) no-repeat 0 0; position:absolute; top:0; left:0;}
.page5 .con_left .six li:nth-child(2) a i{width:26px; height:26px; background:url(../images/clothesicon.png) no-repeat 0px -26px; position:absolute; top:0px; left:0;}
.page5 .con_left .six li:nth-child(3) a i{width:26px; height:26px; background:url(../images/clothesicon.png) no-repeat 0px -52px; position:absolute; top:0px; left:0;}
.page5 .con_left .six li:nth-child(4) a i{width:26px; height:26px; background:url(../images/clothesicon.png) no-repeat 0px -78px; position:absolute; top:0px; left:0;}
.page5 .con_left .six li:nth-child(5) a i{width:26px; height:26px; background:url(../images/clothesicon.png) no-repeat 0px -104px; position:absolute; top:0px; left:0;}
.page5 .con_left .six li:nth-child(6) a i{width:26px; height:26px; background:url(../images/clothesicon.png) no-repeat 0px -130px; position:absolute; top:0px; left:0;}
.page5 .con_left .text{width:330px; height:128px;}
.page5 .con_left .text span{color:#c81623;}
.page5 .con_left .textbox1{width:145px; height:96px; float:left; margin:15px 15px 0 25px;}
.page5 .con_left .textbox1 a{font-size:12px; line-height:24px; color:#999; margin-right:11px;}
.page5 .con_left .textbox1 a:hover{color:#c81623}
.page5 .con_left .textbox2 a:hover{color:#c81623}
.page5 .con_left .textbox2{width:145px; height:96px; float:right;margin-top:15px;}
.page5 .con_left .textbox2 a{font-size:12px; line-height:24px; color:#999;margin-right:11px;}
.page5 .con_left .small_pic{width:328px; height:158px; position:relative; border-left:1px solid #f7f5ee;border-top:1px solid #ededed;border-right:1px solid #ededed; overflow:hidden;}
.page5 .con_left .small_pic .pic img{width:100%; height:100%;}
.page5 .con_left .small_pic .txt{position:absolute; top:30px; left:20px;}
.page5 .con_left .small_pic .txt h4{font-size:18px; color:#333; line-height:34px;}
.page5 .con_left .small_pic .txt a{display:block;width:328px; height:152px;}
.page5 .con_left .small_pic .txt span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page5 .con .con_mid{width:439px; float:left; border-right:1px solid #ededed;}
.page5 .con_mid .mid_t{position:relative; border-bottom:1px solid #ededed;}
.page5 .con_mid .mid_t .pic{width:439px; height:157px; overflow:hidden;}
.page5 .con_mid .mid_t .pic img{width:100%; height:100%;}
.page5 .con_mid .mid_t .txt{position:absolute; top:30px; left:20px;}
.page5 .con_mid .mid_t .txt h4{font-size:18px; color:#333; line-height:34px;}
.page5 .con_mid .mid_t .txt a{display:block;width:328px; height:152px;}
.page5 .con_mid .mid_t .txt span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page5 .con_mid .mid_m{width:439px; height:315px; position:relative;border-bottom:1px solid #ededed;}
.page5 .con_mid .mid_m .pic{width:439px; height:315px;}
.page5 .con_mid .mid_m .pic img{width:100%; height:100%;}
.page5 .con_mid .mid_m  .txt{position:absolute; top:30px; left:20px;}
.page5 .con_mid .mid_m  .txt h4{font-size:18px; color:#333; line-height:34px;}
.page5 .con_mid .mid_m  .txt a{display:block;width:328px; height:152px;}
.page5 .con_mid .mid_m  .txt span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page5 .con_mid .mid_b{width:439px; height:158px;border-right:1px solid #ededed; position:relative;}
.page5 .con_mid .mid_b .pic{width:100%; height:100%;}
.page5 .con_mid .mid_b .pic img{width:100%; height:100%;}
.page5 .con_mid .mid_b  .txt{position:absolute; top:30px; left:20px;}
.page5 .con_mid .mid_b  .txt h4{font-size:18px; color:#333; line-height:34px;}
.page5 .con_mid .mid_b  .txt a{display:block;width:328px; height:152px;}
.page5 .con_mid .mid_b  .txt span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page5 .con_right{width:439px; float:right;}
.page5 .con_right .fourbox{width:219px; height:632px; border-right:1px solid #ededed; float:left;}
.page5 .con_right .fourbox li{border-bottom:1px solid #ededed; position:relative;}
.page5 .con_right .fourbox li .pic{width:219px; height:157px;}
.page5 .con_right .fourbox li .pic img{width:100%; height:100%;}
.page5 .con_right .fourbox li .txt{position:absolute; top:20px; left:10px;}
.page5 .con_right .fourbox li  .txt h4{font-size:18px; color:#333; line-height:34px;}
.page5 .con_right .fourbox  li .txt a{display:block;width:328px; height:152px;}
.page5 .con_right .fourbox  li .txt span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page5 .con_right .boxx{border-right:none;}
.page5 .con_right .boxx li:last-child{width:219px;height:316px;}
.page5 .con_right .boxx li:last-child .pic{width:219px;height:316px;}
.page5 .con_right .boxx li:last-child .pic img{width:100%; height:100%;}
.page6{width:1210px; margin:0 auto; margin-top:10px;}
.page7{width:1210px; margin:0 auto; margin-top:22px;}
.page7 .title{border-bottom:1px solid #c91724;}
.page7 .title h2{font-size:18px; line-height:34px; float:left;position:relative; padding-left:40px;}
.page7 .title h2 a{color:#333;}
.page7 .title h2 i{width:32px; height:28px; display:block; background:url(../images/product_home_1.0.0.png) no-repeat 0 -32px; position:absolute; top:0; left:0;}
.page7 .title h2:hover a{color:#c81623;}
.page7 .title h2:hover i{background:url(../images/product_home_1.0.0.png) no-repeat 0 3px; color:#fff;}
.page7 .title ul{float:right; border:1px solid #ededed; border-bottom:none;}
.page7 .title ul li{float:left; line-height:31px; height:31px;position:relative;border-top:3px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff;}
.page7 .title ul li a{ padding:0 15px; font-size:15px; font-family:'宋体'; color:#666;display:block;}
.page7 .title ul li:hover{border-color:#c81623; z-index:3; margin-top:-1px; padding-top:1px;}
.page7 .title ul li:hover a{background:#fff; height:32px;}
.page7 .title ul li:hover span{display:none;}
.page7 .title ul li span{width:1px; height:14px; background:#ccc; position:absolute; top:10px; right:-2px; z-index:2;}


.page7 .popop2{display:none;}
.page7 .con{width:1209px; height:473px; border-bottom:1px solid #ededed; border-right:1px solid #ededed; position:relative; display:block;}
.page7 .con_l{width:210px; float:left;}
.page7 .con_l .con_l_t{width:210px; height:329px; position:relative;}
.page7 .con_l .con_l_t .pic{width:210px; height:329px;}
.page7 .con_l .con_l_t .pic img{width:100%; height:329px;}
.page7 .con_l .con_l_t .pic a{display:block; position:relative;}
.page7 .con_l .con_l_t .pic a:before{content:''; width:70px; height:345px;
background-image:-webkit-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:-moz-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:-ms-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:-o-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
position:absolute; top:0; right:-200px; transform:skewX(-30deg);}
.page7 .con_l .con_l_t .pic a:hover:before{right:500px; transition:all .8s;}
.page7 .con_l .con_l_t .box{width:100%; height:92px; background:rgba(255,255,255,0.2); position:absolute; left:0; bottom:0; z-index:2;}
.page7 .con_l .con_l_t .box ul{padding:10px 0 10px 10px;}
.page7 .con_l .con_l_t .box ul li{width:87px; height:26px; float:left;margin:10px 10px 0 0;}
.page7 .con_l .con_l_t .box ul li a{display:block;color:#666;font-size:14px; line-height:26px;padding-left:30px; position:relative;}
.page7 .con_l .con_l_t .box ul li i{display:block; width:26px; height:26px; background:url(../images/cosmeticsicon.png) no-repeat 0 0; position:absolute; left:0; top:0;}
.page7 .con_l .con_l_t .box ul li:nth-child(2) i{background:url(../images/cosmeticsicon.png) no-repeat 0 -26px;}
.page7 .con_l .con_l_t .box ul li:nth-child(3) i{background:url(../images/cosmeticsicon.png) no-repeat 0 -52px;}
.page7 .con_l .con_l_t .box ul li:nth-child(4) i{background:url(../images/cosmeticsicon.png) no-repeat 0 -78px;}
.page7 .con_l .con_l_t .box ul li a:hover{color:#be152a;}
.page7 .con_l .con_l_b{width:100%; height:144px; background:#cccfe0; text-align:center;}
.page7 .con_l .con_l_b h4{font-size:15px; line-height:25px; padding-top:22px;}
.page7 .con_l .con_l_b h4 a{color:#666;}
.page7 .con_l .con_l_b h4 a:hover{color:#c81623;}
.page7 .con_l .con_l_b .txtt p{font-size:12px; line-height:24px; padding-top:5px}
.page7 .con_l .con_l_b .txtt a{color:#999;}
.page7 .con_l .con_l_b .txtt p span{color:#c81623;}
.page7 .con_l .con_l_b .txtt a:hover{color:#c81623;}
.page7 .con_m{width:339px; float:left;}
.page7 .con_m .con_m_t{width:100%; height:296px; border-bottom:1px dashed #cccccc; position:relative;}
.page7 .con_m .con_m_t .pic{width:100%; height:100%;}
.page7 .con_m .con_m_t .pic img{width:100%; height:100%;}
.page7 .con_m .con_m_t  .txt{position:absolute; top:30px; left:20px;}
.page7 .con_m .con_m_t  .txt h4{font-size:18px; color:#333; line-height:34px;}
.page7 .con_m .con_m_t  .txt a{display:block;width:328px; height:152px;}
.page7 .con_m .con_m_t  .txt span{font-size:12px; line-height:19px; height:19px; color:#c81623;}

.page7 .con_m .con_m_b{width:100%; height:176px;position:relative;}
.page7 .con_m .con_m_b .pic{width:100%; height:100%;}
.page7 .con_m .con_m_b .pic img{width:100%; height:100%;}
.page7 .con_m .con_m_b  .txt{position:absolute; top:30px; left:20px;}
.page7 .con_m .con_m_b  .txt h4{font-size:18px; color:#333; line-height:34px;}
.page7 .con_m .con_m_b  .txt a{display:block;width:328px; height:152px;}
.page7 .con_m .con_m_b  .txt span{font-size:12px; line-height:19px; height:19px; color:#c81623;}
.page7 .con_r{width:659px; height:473px; float:right; border-left:1px solid #ededed; text-align:center;}
.page7 .con_r .con_r_t li{float:left; width:219px; height:296px; position:relative; border-bottom:1px solid #ededed; border-right:1px solid #ededed;}
.page7 .con_r .con_r_t li .pic{width:100%; height:100%;}
.page7 .con_r .con_r_t li .pic img{width:100%; height:100%;}
.page7 .con_r .con_r_t li .text{position:absolute; top:0; left:70px;}
.page7 .con_r .con_r_t li .text h5{font-size:18px; color:#DAAFDB; line-height:43px; padding-top:16px; font-weight:normal;}
.page7 .con_r .con_r_t li:nth-child(3):before{content:''; width:172px; height:1px; border-bottom:1px dashed #DAAFDB; position:absolute; left:24px; top:59px;}
.page7 .con_r .con_r_t li .text p{font-size:12px; color:#DAAFDB; line-height:17px; padding-top:14px; font-weight:normal;}
.page7 .con_r .con_r_t li:nth-child(3){border-right:none;}
.page7 .con_r .con_r_b{width:659px; height:176px; position:relative;}
.page7 .con_r .con_r_b li{width:219px; height:176px; float:left; border-right:1px solid #ededed;}
.page7 .con_r .con_r_b li .pic{width:100%; height:176px;}
.page7 .con_r .con_r_b li .pic img{width:100%; height:176px;}
.page7 .con_r .con_r_b li .text{position:absolute; top:300px; left:20px;}
.page7 .con_r .con_r_b li .text h5{font-size:18px; color:#333; line-height:43px; padding-top:16px;}
.page7 .con_r .con_r_b li .text p{font-size:12px; color:#333; line-height:17px; padding-top:14px; font-weight:normal;}
.page7 .con_r .con_r_b li:nth-child(2) .text{position:absolute; top:300px; left:240px;}
.page7 .con_r .con_r_b li:nth-child(3){border-right:none;}
.page7 .con_r .con_r_b li:nth-child(3) .text{position:absolute; top:300px; right:-330px;}
.page8{width:1210px; margin:0 auto;}
.page8 .pic{margin:10px 0 20px 0;}
.page9{width:1210px; margin:0 auto;}
.page9 .pic{margin-bottom:20px;}
.page10{width:1210px; height:508px; margin:17px auto;}
.page10 .title{border-bottom:1px solid #c91724;}
.page10 .title h2{font-size:18px; line-height:34px; float:left;position:relative; padding-left:40px;}
.page10 .title h2 a{color:#333;}
.page10 .title h2 i{width:32px; height:28px; display:block; background:url(../images/product_home_1.0.0.png) no-repeat 0 -32px; position:absolute; top:0; left:0;}
.page10 .title h2:hover a{color:#c81623;}
.page10 .title h2:hover i{background:url(../images/product_home_1.0.0.png) no-repeat 0 3px; color:#fff;}
.page10 .title ul{float:right; border:1px solid #ededed; border-bottom:none;}
.page10 .title ul li{float:left; line-height:31px; height:31px;position:relative;border-top:3px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff;}
.page10 .title ul li a{ padding:0 15px; font-size:15px; font-family:'宋体'; color:#666;display:block;}
.page10 .title ul li:hover{border-color:#c81623; z-index:3; margin-top:-1px; padding-top:1px;}
.page10 .title ul li:hover a{background:#fff; height:32px;}
.page10 .title ul li:hover span{display:none;}
.page10 .title ul li span{width:1px; height:14px; background:#ccc; position:absolute; top:10px; right:-2px; z-index:2;}
.page10 .con{width:1209px; height:474px; border-right:1px solid #ededed;}
.page10 .con .con_l{width:330px; height:474px; float:left;}
.page10 .con .con_l_t{width:330px; height:283px; position:relative;}
.page10 .con .con_l_t .pic img{width:330px; height:283px;}
.page10 .con .con_l_t .box1{width:330px; height:46px; background:rgba(255,255,255,.5); position:absolute; left:0; bottom:0;}
.page10 .con .con_l_t .box1 ul{padding:10px 0 10px 25px;}
.page10 .con .con_l_t .box1 ul li{width:98px; height:26px; float:left; position:relative;}
.page10 .con .con_l_t .box1 ul li a{padding-left:31px; line-height:26px; color:#666;}
.page10 .con .con_l_t .box1 ul li:hover a{color:#c81623;}
.page10 .con .con_l_t .box1 ul li i{width:26px; height:26px; background:url(../images/mobilesicon.png) no-repeat 0 0; position:absolute; left:0; top:0;}
.page10 .con .con_l_t .box1 ul li:nth-child(2) i{ background:url(../images/mobilesicon.png) no-repeat 0 -26px;}
.page10 .con .con_l_t .box1 ul li:nth-child(3) i{ background:url(../images/mobilesicon.png) no-repeat 0 -52px;}
.page10 .con .con_l_t .pic a{display:block; position:relative;}
.page10 .con .con_l_t .pic a:before{content:''; width:70px; height:250px;
background-image:-webkit-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:-moz-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:-ms-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:-o-linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
background-image:linear-gradient(left,rgba(255,252,252,0) 0%, rgba(255,252,252,.3) 50%,rgba(255,252,252,0) 100%);
position:absolute; top:0; left:-200px; transform:skewX(-30deg);}
.page10 .con .con_l_t .pic a:hover:before{left:500px; transition:all .8s;}
.page10 .con .con_l_b{width:330px; height:191px; background:#cbcdde; }
.page10 .con .con_l_b .con_l_b1 dl{padding:22px; height:25px; float:left}
.page10 .con .con_l_b .con_l_b1 dl a{color:#666;}
.page10 .con .con_l_b .con_l_b1 dl dt{font-size:13px; line-height:25px; padding-bottom:10px;}
.page10 .con .con_l_b .con_l_b1 dl dt:hover a{color:#c81623;}
.page10 .con .con_l_b .con_l_b1 dl dd:hover a{color:#c81623;}
.page10 .con .con_l_b .con_l_b1 dl dd{font-size:11px; line-height:25px;}
.page10 .con .con_l_b .con_l_b1 dl dd span{color:#c81623;}
.page10 .con .con_m{width:439px; height:473px; float:left; border-right:1px solid #ededed; border-bottom:1px solid #ededed;}
.page10 .con .con_m_t{width:439px; height:237px;}
.page10 .con .con_m_t img{width:439px; height:237px;}
.page10 .con .con_m_b{width:439px; height:236px;}
.page10 .con .con_m_b1{width:219px; height:236px; border-right:1px solid #ededed; float:left;}
.page10 .con .con_m_b2{width:219px; height:236px; float:right}
.page10 .con .con_r{width:439px; height:473px; float:right;}
.page10 .con .con_r_t{width:439px; height:235px;}
.page10 .con .con_r_t li{width:219px; height:117px; float:left; border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
.page10 .con .con_r_t li img{width:219px; height:117px;}
.page10 .con .con_r_t li:nth-child(2n){border-right:none;}
.page10 .con .con_r_b{width:439px; height:237px;}
.page10 .con .con_r .con_r_b1{width:219px; height:237px; float:left}
.page10 .con .con_r_b1 img{width:219px; height:237px;border-bottom:1px solid #ededed;border-right:1px solid #ededed;}
.page10 .con .con_r .con_r_b2{width:219px; height:237px;float:right}
.page10 .con .con_r_b2 img{width:219px; height:237px;border-bottom:1px solid #ededed;}
.page33{width:1210px; margin:0 auto;margin-top:20px;}
.page33 .left{width:899px; float:left;}
.page33 .left h3{font-size:25px; line-height:42px; color:#666; font-weight:normal;}
.page33 .left .inner{width:899px; height:281px; border:1px solid #ededed;}
.page33 .left .inner .box1{width:239px; height:281px; float:left;}
.page33 .left .inner .box1 img{width:239px; height:281px;}
.page33 .left .inner .box2{width:660px; height:281px; float:right;}
.page33 .left .inner .box2 li{width:219px; height:140px; float:left; border-left:1px solid #ededed; border-bottom:1px solid #ededed;}
.page33 .left .inner .box2 li img{width:219px; height:140px;}
.page33 .left .inner .box2 li:nth-child(4){border-bottom:none;}
.page33 .left .inner .box2 li:nth-child(5){border-bottom:none;}
.page33 .left .inner .box2 li:nth-child(6){border-bottom:none;}
.page33 .right{width:308px; float:left;}
.page33 .right h3{font-size:25px; line-height:42px; color:#666; font-weight:normal;}
.page33 .right .inner{width:308px; height:281px; border:1px solid #ededed; text-align:center; position:relative; overflow:hidden;}
.page33 .right .inner li{margin-bottom:20px;width:200px;height:80px; transition:all 0.5s;}
.page33 .right .inner h5{font-size:16px; color:#666; line-height:40px;}
.page33 .right .inner p{font-size:11px; color:#666; line-height:9px;}
.page33 .right .inner ul{width:250px; height:281px; position:absolute; animation:run2 10s linear infinite; padding-left:50px;}
.page33 .right .inner ul:hover{animation-play-state:paused;}
.page33 .right .inner li:hover{border:1px solid red;}
@keyframes run2{0%{top:0;} 100%{top:-308px;}}